/* navigation */
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-right ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.nav-right ul a{
    list-style: none;
    text-decoration: none;
}
.btn{
    background-color: coral;
}
/* flower title */
.flower-title{
    display: flex;
    max-width: 1280px;
    margin: 0% auto;
    padding: 60px 40px;
}
.flower-left{
    padding-top: 30px;

}
.flower-left .plant{
    font-size: 60px;
}
.flower-left .indulge{
    font-size: 30px;
}
.fresh{
    color: chocolate;
}
/* our plants */
.plants{
    text-align: center;
}
.plants h2{
    font-size: 50px;
}
.plants p{
    font-size: 30px;
}
/* card section */
.card-parent .card-child{
    max-width: 280px;
    max-height: 500px;
    border: 2px solid skyblue;
    margin: 0% auto;
}
.card-parent .card-parent img{
    max-width: 100%;
}
.card-parent{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 20px;
    padding: 20px;

}
.lili,.lily {
    text-align: center;
}
.lily{
    background-color: brown;
}
.lily button{
    display: flex;
    justify-content: center;
}
/* man flower part */
.man-flower{
    display: flex;
    max-width: 1200px;
    margin: 0% auto;
    padding-top: 100px;
}
.man-right ul li{
    font-size: 20px;
    padding: 20px;
}
.man-right ul{
    padding-left: 20px;
}
.man-right li{
    font-size: 20px;
}
.man-right h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.man-left img{
    width: 10;
    max-width: 600px;
    border-radius: 10px;

}
.man-left{
    position: relative;
}
.man-right{
    flex: 1;
    min-width: 280px;
    padding-left: 100px;
}
.main-img{
    width: 500px;
    height: auto;
}
.badge-img{
    position: absolute;
    top: -110px;
    left: 100%;
    transform: translateX(-50%);
    width: 200px;
}
/* latest part */
.latest{
    text-align: center;
}
.card-two{
    display: flex;
    margin: 0 auto;
    gap: 20px;
    max-width: 900px;
    padding-top: 20px;
    padding-left: 10px;
}
.mini-card{
    max-width: 600px;
    margin: 0% auto;
    gap: 10px;
}
.large-card{
    border: 2px solid tomato;
    width: 500px;
    margin: 0% auto;
    margin-bottom: 10px;
    color: white;
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-zabo.png);
}
.mini-one{
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-ana.png);
    border: 2px solid tomato;
    padding: 10px;
    margin-bottom: 10px;
}
.mini-two{
    background-image: url(/B12A02-Responsive-Flowers/assets/deal-bloom.png);
    border: 2px solid tomato;
    margin-bottom: 10px;
}
.large-card h2{
    text-align: center;
    padding-top: 70px;
}
/* card three */
.card-three{
    background-image: url(/B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
    margin-bottom: 60px;
    width: 100%;
}
.card-manner input{
    width: 500px;
    font-size: 20px;
}
.card-manner h2{
    text-align: center;
    color: antiquewhite;
}
/* about section */
.about-section{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
}
.contact-form li{
    display: grid;
    grid-template-columns: repeat(2);
}
.contact-form ul li a {
    text-decoration: none;
    list-style: none;
}
.contact-form ul li{
    gap: 20px;
    padding: 20px;
    font-size: 20px;
}
.contact-title p{
    font-size: 25px;
}
.contact-online img{
    padding-top: 30px;
    gap: 10px;
    padding: 20px;
}
/* responsive desine */
@media screen and (max-width:576px) {
    .navigation ul .home    {
display: none; 
}
.navigation ul .cart{
padding-left: 300px;
}
.flower-title{
display: grid
}
.flower-title{
grid-template-columns: repeat(1);
}
.card-parent{
max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: o;
    padding: 0;
}
.plants{
    padding-left: 120px;
}
.man-flower{
flex-direction: column;
text-align: center;
justify-content: center;
f
}
.man-right h2{
    font-size: 20px;

}
 .main-img{
    width: 500px;
    padding-left: 50px;
 }  
.badge-img{
    display: none;
}
.card-two{
    flex-direction: column;
}
.mini-card{
    width: 500px;
    margin: 0% auto;
}
.large-card{
    width: 500px;
}
.card-three{
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 0;
    padding: 50 30;
}
card-manner input{
    width: 20px;
    font-size: 20px;

 }
 .about-section{
    max-width: auto;
    flex-direction: column;
}
}